<!--Navbar-->
<br/>

<nav class="navbar navbar-expand-lg navbar-dark indigo mb-4">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">HOME</a>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline ml-auto">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
    </form>

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
<br/>
<br/>
<div class="card-deck">
  <div class="card bg-primary">
    <div class="card-body text-center">
    <img src="../../assets/dims.jfif" class="img-thumbnail" alt="dims"/>
    </div>
  </div>
  <div class="card bg-deck">
    <div class="card-body text-center">
      <img src="../../assets/mini-fridges-group-1012537-630.jpg" class="img-thumbnail" alt="mini-fridges-group-1012537-630"/>
    </div>
  </div>
  <div class="card bg-deck">
    <div class="card-body text-center">
      <img src="../../assets/pexels-photo-2651794.jpeg" class="img-thumbnail" alt="speaker"/>
    </div>
  </div>
  <div class="card bg-deck">
    <div class="card-body text-center">
      <img src="../../assets/pexels-photo-572056.jpeg"class="img-thumbnail" alt="speaker"/>
    </div>
  </div>
</div>

<br/>

<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-lg" style="text-align: center; margin-left: 800px;width: 200px;">Declare Item</button>
<br/>
<br/>
<button type="button" data-toggle="modal" data-target="#my"  class="btn btn-secondary btn-lg" style="text-align: center; margin-left: 800px;width: 200px;">View Item</button>




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">



  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
       
        <h4 class="modal-title">Personal Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <br/>
      </div>
  <div class="modal-body">
      <form>

          <div class="form-group">
              <select class="browser-default custom-select">
                  <option selected>Laptop</option>
                  <option value="1">Fridge</option>
                  <option value="2">TV</option>
                  <option value="3">Speakers</option>
                </select>
            </div>
            <br/>
            <u><p class="font-weight-bold" >Enter student and item details.</p></u>
            
          <div class="form-group">
              <label>FirstName</label>
              <input class="form-control" >
            </div>
            <div class="form-group">
                <label>Surname</label>
                <input class="form-control">
              </div>
              <div class="form-group">
                  <label>Student Number</label>
                  <input class="form-control">
                </div>

                <div class="form-group">
                    <label>Identity Number</label>
                    <input class="form-control">
                  </div>

                  <div class="form-group">
                      <label>Email-Address</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Item-Name</label>
                        <input class="form-control">
                      </div>
                    <div class="form-group">
                        <label>Serial-Number</label>
                        <input class="form-control">
                      </div>

                     <br/>
                     <button type="submit" class="btn btn-info" style="padding-left: 30px; margin-right:10px;"> Submit</button>
                     <button type="reset" class="btn btn-secondary"  style="padding-left: 30px; margin-right:10px;" >Reset</button>
                 <button type="button" class="btn btn-dark" data-dismiss="modal"style="padding-left: 30px;" >Close</button>
      </form> 
 </div>                                         
 
 
<!-- Modal 2 -->
<div id="my" class="modal fade" role="dialog">



  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
       
        <h4 class="modal-title">view assets</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <br/>
      </div>
  <div class="modal-body">
      <form>               
                     <br/>
                     <button type="submit" class="btn btn-info" style="padding-left: 30px; margin-right:10px;"> Submit</button>
                     <button type="reset" class="btn btn-secondary"  style="padding-left: 30px; margin-right:10px;" >Reset</button>
                 <button type="button" class="btn btn-dark" data-dismiss="modal"style="padding-left: 30px;" >Close</button>
      </form> 
 </div>   
 