@import '../../Admin-Panel/style.scss';

.card-header{
    background-color: #0d47a1;
    color: white;
    text-align: center;
}

.main{
    margin-left: 200px;
    margin-right: 200px;
    position: center;
    left: 100%;
    right: 100%;
}